<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<context:annotation-config />
	
	<!-- spring-servlet.xml 	web.xml에 있는 dispatcher servlet에 servlet-name을 -servlet을 붙여서 만들어 줘야한다.-->
	<bean class="kr.edu.kosa.HelloController" name="/hello.bo" />
	<bean class="kr.edu.kosa.ListController" id="/list.bo" />
	<bean class="kr.edu.kosa.WriteController" id="/write.bo" />
	<bean class="com.kosa.UpdateController" />
	
	<!-- ViewResolver 빈 객체 생성 -->
	<bean id="" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix"><value>/WEB-INF/views/</value></property>
		<property name="suffix" value=".jsp" />
	</bean>

</beans>
